# Carregando Arquivos

In [1]:
from matplotlib import dates
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
#Vamos realizar a pesquisa com as ações da Apple
raw = yf.download ('SPY AAPL', start = '2010-01-01', end='2025-04-08')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  2 of 2 completed

In [3]:
raw

Price            Close                    High                     Low  \
Ticker            AAPL         SPY        AAPL         SPY        AAPL
Date
2010-01-04    6.440331   85.768471    6.455077   85.813877    6.391278
2010-01-05    6.451465   85.995476    6.487878   86.033318    6.417459
2010-01-06    6.348847   86.056046    6.477046   86.267949    6.342227
2010-01-07    6.337110   86.419296    6.379843   86.525248    6.291067
2010-01-08    6.379242   86.706863    6.379844   86.744706    6.291369
...                ...         ...         ...         ...         ...
2025-04-01  223.190002  560.969971  223.679993  562.940002  218.899994
2025-04-02  223.889999  564.520020  225.190002  567.419983  221.020004
2025-04-03  203.190002  536.700012  207.490005  547.969971  201.250000
2025-04-04  188.380005  505.279999  199.880005  525.869995  187.339996
2025-04-07  181.460007  504.380005  194.149994  523.169983  174.619995

Price                         Open                 Volume
Ticker             SPY        AAPL         SPY       AAPL        SPY
Date
2010-01-04   84.391090    6.422877   85.041941  493729600  118944600
2010-01-05   85.405171    6.458086   85.715463  601904800  111579900
2010-01-06   85.844142    6.451467   85.912251  552160000  116074400
2010-01-07   85.654924    6.372319   85.897101  477131200  131091100
2010-01-08   86.018176    6.328685   86.192237  447610800  126402800
...                ...         ...         ...        ...        ...
2025-04-01  553.679993  219.809998  557.450012   36412700   54609600
2025-04-02  554.809998  221.320007  555.049988   35905900   76014500
2025-04-03  536.700012  205.539993  545.109985  103419000  125986000
2025-04-04  505.059998  193.889999  523.669983  125910900  217965100
2025-04-07  481.799988  177.199997  489.190002  160466300  256611400

[3839 rows x 10 columns]

In [4]:
raw.columns

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close',  'SPY'),
            (  'High', 'AAPL'),
            (  'High',  'SPY'),
            (   'Low', 'AAPL'),
            (   'Low',  'SPY'),
            (  'Open', 'AAPL'),
            (  'Open',  'SPY'),
            ('Volume', 'AAPL'),
            ('Volume',  'SPY')],
           names=['Price', 'Ticker'])

In [5]:
raw.pipe?

Signature:
raw.pipe(
    func: 'Callable[..., T] | tuple[Callable[..., T], str]',
    *args,
    **kwargs,
) -> 'T'
Docstring:
Apply chainable functions that expect Series or DataFrames.

Parameters
----------
func : function
    Function to apply to the Series/DataFrame.
    ``args``, and ``kwargs`` are passed into ``func``.
    Alternatively a ``(callable, data_keyword)`` tuple where
    ``data_keyword`` is a string indicating the keyword of
    ``callable`` that expects the Series/DataFrame.
*args : iterable, optional
    Positional arguments passed into ``func``.
**kwargs : mapping, optional
    A dictionary of keyword arguments passed into ``func``.

Returns
-------
the return type of ``func``.

See Also
--------
DataFrame.apply : Apply a function along input axis of DataFrame.
DataFrame.map : Apply a function elementwise on a whole DataFrame.
Series.map : Apply a mapping correspondence on a
    :class:`~pandas.Series`.

Notes
-----
Use ``.pipe`` when chaining together functions that expect
Series, DataFrames or GroupBy objects.

Examples
--------
Constructing a income DataFrame from a dictionary.

>>> data = [[8000, 1000], [9500, np.nan], [5000, 2000]]
>>> df = pd.DataFrame(data, columns=['Salary', 'Others'])
>>> df
   Salary  Others
0    8000  1000.0
1    9500     NaN
2    5000  2000.0

Functions that perform tax reductions on an income DataFrame.

>>> def subtract_federal_tax(df):
...     return df * 0.9
>>> def subtract_state_tax(df, rate):
...     return df * (1 - rate)
>>> def subtract_national_insurance(df, rate, rate_increase):
...     new_rate = rate + rate_increase
...     return df * (1 - new_rate)

Instead of writing

>>> subtract_national_insurance(
...     subtract_state_tax(subtract_federal_tax(df), rate=0.12),
...     rate=0.05,
...     rate_increase=0.02)  # doctest: +SKIP

You can write

>>> (
...     df.pipe(subtract_federal_tax)
...     .pipe(subtract_state_tax, rate=0.12)
...     .pipe(subtract_national_insurance, rate=0.05, rate_increase=0.02)
... )
    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12

If you have a function that takes the data as (say) the second
argument, pass a tuple indicating which keyword expects the
data. For example, suppose ``national_insurance`` takes its data as ``df``
in the second argument:

>>> def subtract_national_insurance(rate, df, rate_increase):
...     new_rate = rate + rate_increase
...     return df * (1 - new_rate)
>>> (
...     df.pipe(subtract_federal_tax)
...     .pipe(subtract_state_tax, rate=0.12)
...     .pipe(
...         (subtract_national_insurance, 'df'),
...         rate=0.05,
...         rate_increase=0.02
...     )
... )
    Salary   Others
0  5892.48   736.56
1  6997.32      NaN
2  3682.80  1473.12
File:      c:\users\diego.serra\appdata\local\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method